:root {
    --primary: #8257E6; /* Roxo */
    --primary-light: #996DFF;
    --secondary: #04D361; /* Verde */
    --text-color: #E1E1E6; /* Cinza claro */
    --background-color: #121214; /* Cinza escuro */
}